<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title}) %>

<body>

  <%- include('../partials/nav', {user}) %>
  <%- include('../partials/chatbot', {user}) %>

</body>

<%- include('../partials/websocket') %>
<%- include('../partials/scripts') %>

</html>